<%= render :partial => "layouts/all_to_all_links", object: @all_to_all_links %>

<div id="main" class="main_element">
	<h1 class="content_centered">Awards and national tests</h1>
	<div>
		<p style="height:200px; vertical-align: middle;"><img src="/assets/awards/1.JPG" style="float:left; height: 100%"><span style="line-height: 200px">In 2010, for the 3rd year in a row, we won the PTI Award</span></p>
		<p style="height:200px; vertical-align: middle;"><img src="/assets/awards/2.png" style="float:right; height:100%;"><span style="line-height: 200px">Our school has been internationally recognised for its merits</span></p>
		<p style="height:200px; vertical-align: middle;"><img src="/assets/awards/3.jpg" style="float:left; height:100%;"><span style="line-height: 200px">HYP won the HS award in 2009, 2010 and 2011</span></p>
		<p style="height:200px; vertical-align: middle;"><img src="/assets/awards/4.JPG" style="float:right; height:100%;"><span style="line-height: 200px">All our sport teams are famous for their fair-play</span></p>
	</div>
</div>
