<%= render :partial => "layouts/all_to_all_links", object: @all_to_all_links %>

<div id="main" class="main_element">
	<h1 class="content_centered">Our institute</h1>
	<div>
		HYP High School is a four-year college-oriented school with an enrollment of 2000 students.<br><br>Our school offers a wide range of courses designed to develop the skills our pupils need to succeed in college and in life.<br><br>HYP School is famous all over the country for its simple but effective learning methods, like peer-to-peer tutoring, lab classes and extra activities.<br><br>Our main educational principles are:<ul><li>Inviting contact between students and teachers</li><li>Appropriate learning support</li><li>Respecting diversity</li><li>Practical lessons to feel the real world</li></ul>
	</div>
</div>
