<%= render :partial => "layouts/all_to_all_links", object: @all_to_all_links %>

<div id="main" class="main_element">
	<h1 class="content_centered">History and tradition</h1>
	<div>
		
		HYP was founded in 1440 by King Henry VI to provide free education to 70 poor boys who would then go on to King's College, Cambridge, which he founded 1441.
		<br><br>
		When Henry founded the school, he granted it a large number of endowments, but when he was deposed by Edward IV in 1461, the new king removed most of its assets and treasures to St George's Chapel, Windsor, on the other side of the River Thames.  Construction of the chapel, originally intended to be slightly over twice its current length was stopped hurriedly, but by this time the chapel in its current form and the lower storeys of the current cloisters, including College Hall, had been completed. With reduced funds, little further building took place until around 1517 when Provost Richard Lupton built the tower which now bears his name together with the range of buildings which now includes Election Hall and Election Chamber.
		<br><br>
		The earliest records of school life date from the 16th century and paint a picture of a regimented and Spartan life. Scholars were awakened at 5 am, chanted prayers whilst they dressed, and were at work in Lower School by 6am. All teaching was in Latin and lessons were supervised by “praepostors”, senior boys appointed by the headmaster. There was a single hour of play, though even at that time football appears to have been popular, for a sentence set for Latin translation in 1519 was “We will play with a bag full of wynde”. Lessons finished at 8pm and there were only two holidays, each of three weeks duration at Christmas (when the scholars remained at HYP) and in the Summer. These holidays divided the school year into two “halves” a word which has survived despite the change to a three-term year in the 18th century.
		<br><br>
		From the earliest days of the school, the education received by the scholars was shared by others who did not lodge in College, but who lived in the town with a landlady. By the early 18th century the number of such “Oppidans” (from the Latin “oppidum” meaning “town”) had grown to the extent that more formal arrangements were needed, and the first of the “Dame’s Houses”, Jourdelay’s, was built in 1722. By 1766 there were thirteen houses, and increasingly the responsibility for running them fell to masters as much as to the dame.
		<br><br>
		The school continued to grow and flourished particularly under the long reign of George III (1760-1820). George spent much of his time at Windsor, frequently visiting the school and entertaining boys at Windsor Castle. The school in turn made George’s birthday, the Fourth of June, into a holiday. Though these celebrations now never fall on that day, HYP “Fourth of June”, marked by “speeches”, cricket, a procession of boats, and picnics on “Agar’s Plough” remains an important occasion in the school year.
		<br><br>
		By the middle of the 19th century reform was long overdue; the Clarendon Commission of 1861 investigated conditions in the major boarding schools of the day and led to significant changes including improved accommodation, a wider curriculum and better-qualified staff. Numbers continued to grow, and by 1891 there were over 1000 boys in the school, a figure which grew pretty steadily until the 1970s, by which time the school had reached its present size of around 1300 boys.
		<br><br>
		The new millennium saw the introduction of a more meritocratic entry system, with boys no longer being entered on house lists at birth – from 2002, all boys had to win their places through the current procedure of an interview, reasoning test and reference from their previous school.
		<br><br>
		In the 21st century, emphasis continues to be on widening access, with boys joining us from more and more schools and growing numbers receiving substantial fee remissions. During the academic year 2012/13 20% of boys received some help with fees, and 50 boys paid no fees. Our current target is to increase this over time to 25% who do not pay the full fee and, in line with the Founder’s original wishes, 70 paying no fees at all.

	</div>
</div>
