<%= render :partial => "layouts/all_to_all_links", object: @all_to_all_links %>

<div id="main" class="main_element">
	<h1 class="content_centered">How to get here</h1>
	<div>
		<img src="/assets/school/how_to_get_here.jpg" style="float:left; width:300px; height:300px; padding-right:20px">
		<p>
			<br><br>
			HYP High School is located in <b>4446 Kuhl Avenue, Atlanta, GA 30303</b>, just next to the town hall.
			<br><br>
			It can be easily reached on foot from the <b>city's center</b>, but there are many public transport services that allow to reach it faster.
			<br><br>
			If you come from the <b>airport</b> the best way to reach our school is to take the bus or a taxi.
		</p>
	</div>
</div>
