<%= render :partial => "layouts/all_to_all_links", object: @all_to_all_links %>

<div id="main" class="main_element">
	<h1 class="content_centered">Photogallery</h1>
	
	<div>

		<div class="photogallery_row">
			<div class="photogallery_container">
				<div class="photogallery_image">
					<a target="_blank" href="/assets/school/1.jpg"><img src="/assets/school/1.jpg" width="110" height="90"></a>
					<div class="photogallery_description">The school main entrance</div>
				</div>
			</div>

			<div class="photogallery_container">
				<div class="photogallery_image">
					<a target="_blank" href="/assets/school/2.jpg"><img src="/assets/school/2.jpg" width="110" height="90"></a>
					<div class="photogallery_description">The classroom buildings</div>
				</div>
			</div>

			<div class="photogallery_container">
				<div class="photogallery_image">
					<a target="_blank" href="/assets/school/3.jpg"><img src="/assets/school/3.jpg" width="110" height="90"></a>
					<div class="photogallery_description">Our labs</div>
				</div>
			</div>
		
			<div class="photogallery_container">
				<div class="photogallery_image">
					<a target="_blank" href="/assets/school/4.jpg"><img src="/assets/school/4.jpg" width="110" height="90"></a>
					<div class="photogallery_description">One of our classrooms</div>
				</div>
			</div>
		</div>

		<div class="photogallery_row">
			<div class="photogallery_container">
				<div class="photogallery_image">
					<a target="_blank" href="/assets/school/5.jpg"><img src="/assets/school/5.jpg" width="110" height="90"></a>
					<div class="photogallery_description">The gym</div>
				</div>
			</div>

			<div class="photogallery_container">
				<div class="photogallery_image">
					<a target="_blank" href="/assets/school/6.jpg"><img src="/assets/school/6.jpg" width="110" height="90"></a>
					<div class="photogallery_description">HYP Auditorium</div>
				</div>
			</div>
		</div>

	</div>
</div>
