<div id="main_no_sidebar" class="main_element content_centered">
	<h1>Admin page</h1>

	<b><%= link_to "New course", new_course_path %></b>: allows to create a new course, linking it with a teacher, a building, etc. (one-to-many)<br><br>
	<b><%= link_to "New teaching material", new_material_path %></b>: allows to create new material linking it to one or more courses (many-to-many)
</div>