<div id="main_no_sidebar" class="main_element content_centered">
	<h1>All news</h1>

	<% @all_news.each do |news| %>
		
		<p>

			<span class="news_title">
				<%= news.title %>
			</span>

			<span class="news_date">
				<%=  news.publication_date %>
			</span>

			<span class="news_content">
				<% if(news.content) %>
					<%= news.content[0, 40].html_safe %>... <%= link_to "[Read more]", news_path(news) %>
				<% end %>
			</span>

		</p>		

	<% end %>

</div>