<div id="main_no_sidebar" class="main_element content_centered">
	<h1>All courses by department</h1>

	<div>
		<b>Select a department:</b><br>
		<ul class="index_list">
			<% @departments.each do |department| %>
				<li>
					<%= link_to department.name, coursesByDepartment_path(department.id) %>
				</li>
			<% end %>
		</ul>
	</div>
	
</div>