<div id="main_no_sidebar" class="main_element content_centered">
	<h1>All courses by grade</h1>

	<div>
		<b>Select a grade:</b><br>
		<ul class="index_list">
			<% @grades.each do |grade| %>
				<li>
					<%= link_to grade, coursesByGrade_path(grade) %>
				</li>
			<% end %>
		</ul>
	</div>
	
</div>