<%= render :partial => "layouts/all_to_all_links", object: @all_to_all_links %>

<div id="main" class="main_element">
	<h1>Books for <%= @course.name %></h1>

	<p>
		<% if(@course.books && @course.books!='') %>
			<%= @course.books.html_safe %>
		<% else %>
			<i>No books linked to <%= @course.name %></i>
		<% end %>
	</p>

</div>