.guided_tour_left
{
	float:left;
	width:20%;
	text-align: center;
}

.guided_tour_left img, .guided_tour_right img
{
	width: 60px;
	height: 60px;
}

.guided_tour_center
{
	float:left;
	width:60%;
	text-align: center;
}

.guided_tour_right
{
	float:right;
	width:20%;
	text-align: center;
}