/**** GENERAL ****/

.main_element
{
	margin: 10px;
	padding: 10px;
}


/**** HEADER ****/

header
{
	height: 50px;
	
	background: #031F7A;
	
	text-align: center;
	font-size: 1.5em;
	
}

/* Site title (logo + school name) */
#main_title
{
	float:left;
}
#main_title > a > img
{
	height:50px;
	vertical-align:middle;
}
#main_title > span > a
{
	text-decoration: bold;
	color: white;
}

/* Search box */
#main_search
{
	float:right;
}
#main_title > form
{
	width: 500px;
	margin: 50px auto;
}
#main_search_field
{
	padding: 8px 15px;
	background: rgba(50, 50, 50, 0.2);
	border: 0px solid white;
	color: white;
}
#main_search_button
{
	position: relative;
	padding: 6px 15px;
	left:-8px;
	border: 2px solid #207cca;
	background-color: #207cca;
	color: #fafafa;
}
#main_search_button:hover
{
	 background-color: #fafafa;
	 color: #207cca;
}


/**** FOOTER ****/

footer
{
	clear: both;
	
	height: 50px;
	
	background: gray;
}

#school_address
{
	float: left;
	margin-left: 20px;
}

#follow_us
{
	float: right;
	margin-right: 20px;
	position: relative;
}

#follow_us > div
{
	position: absolute; 
	
	display: table; 
}


/**** NAVIGATION BAR ****/

#navbar
{
	height: 50px;
	
	text-align: center;

	margin-left: 0 auto;
}

#navbar > div
{
	display: inline-block;
}

/* Hide all ul inside other ul */
#navbar > div ul ul
{
	display: none;
}

/* "Main" ul */
#navbar > div > ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
	display: inline-table;
}
#navbar > div > ul:after
{
	content: "";
	clear: both;
	display: block;
}

/* Elements of "main" ul */
#navbar > div > ul > li
{
	float: left;
	padding-left: 5px;
	padding-right: 5px;
}

/* Links in "main" ul */
#navbar > div > ul > li > a
{
	text-decoration: none;
	display: block;
	width: 200px;
	text-align: center;
	padding: 15px;
	margin: 2px;
	background-color: #1B2D92;
	color: #FFFFFF;
	font-family: sans-serif;
	border-radius: 40px 40px 40px 40px / 40px 40px 40px 40px;
}

/* Hovered links in "main" ul */
#navbar > div > ul > li > a:hover
{
	font-weight: bold;
	background-color: #9EDEFB;
}

/* Display "secondary" ul when "main" ul elements are hovered */
#navbar > div ul li:hover > ul
{
	display: block;
}

/* "Secondary" ul */
#navbar > div > ul > li > ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	z-index: 50;
}

/* Elements of "secondary" ul */
#navbar > div > ul > li > ul > li
{
	float: none; 
	position: relative;
	padding-left: 5px;
	padding-right: 5px;
	z-index: 50;
}

/* Links in "secondary" ul */
#navbar > div > ul > li > ul > li > a
{
	text-decoration: none;
	display: block;
	width: 190px;
	text-align: center;
	padding: 15px;
	border-top: 1px solid white;
	background-color: #1B2D92;
	color: #FFFFFF;
	font-family: sans-serif;
	z-index: 50;
}

/* Hovered links in "secondary" ul */
#navbar > div > ul > li > ul > li > a:hover
{
	font-weight: bold;
	background-color: #9EDEFB;
	z-index: 50;
}