<div id="main_no_sidebar" class="main_element">

	<h1 class="content_centered">Teaching Material Database</h1>

	<div>
		Here are all our teaching material files, ordered alphabetically. If you wish to check the material related to a specific course, you can check the <%= link_to "Courses", courses_path %> page.
	</div>

	<p class="content_in_2_columns content_centered">

		<% @materials.keys.sort.each do |starting_letter| %>
			
			<b><%= starting_letter %></b><br><br>

			<% @materials[starting_letter].each do |material| %>
				<%= link_to material.name, material_path(material) %><br>
			<% end %>
			<br><br>
		<% end %>

	</p>

</div>